<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krieger | Hamburguesería</title>
    <link rel="shortcut icon" href="../images/Krieger.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <!--HEADER DE LA PÁGINA-->
    <nav>
        <picture>
            <img src="../images/logoh.svg" alt="Logo de Krieger Hamburguesería" class="header__logo">
        </picture>
        <div class="barraDeNav">
            <a href="../index.html">Home</a> 
            <a href="./menu.html">Menú</a> 
            <a href="./pedidos.html">Pedidos</a> 
            <a href="nosotros.html">Nosotros</a>
            <a href="./contacto.html">Contacto</a>
        </div>
    </nav>
    <!--MAIN DE LA PÁGINA-->
    <main class="nosotros">
        <h1>Nosotros</h1>
        <p class="nosotros__p1">Nacimos en el 1971 en San Isidro, provenientes de una extensa tradición gastronómica familiar. En un comienzo, nos avocamos a comida casera; construyendo nuestro propio ADN. En ese camino, nos obsesionamos con la hamburguesa perfecta, y haciendo pruebas, lentamente empezamos a testear el producto.</p>
        <p class="nosotros__p1">El impacto de la gente fue inmediato. Fascinados con la experiencia, se lanzaron a recomendar el sándwich de boca a boca. Ese enorme fervor y entusiasmo que la propia presión de los clientes transformó, hizo de la birra bar un centro de culto para los fanáticos de las hamburguesas.</p>
    </main>
    <!--FOOTER DE LA PÁGINA-->
    <footer class="footer__margin">
        <ul>
            <li>
                <a href="http://www.instagram.com/kriegerhamburgueseria//">Instagram</a>
            </li>
            <li>
                <a href="http://twitter.com/kriegerhamburgueseria//">Twitter</a>
            </li>
            <li>
                <a href="http://es-la.facebook.com/kriegerhamburgueseria/">Facebook</a>
            </li>
            <li>
                <p>TODOS LOS DERECHOS RESERVADOS © Krieger Hamburguesería</p>
            </li>
        </ul>
    </footer>
</body>
</html>