<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krieger | Hamburguesería</title>
    <link rel="shortcut icon" href="../images/Krieger.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <!--HEADER DE LA PÁGINA-->
    <nav>
        <picture>
            <img src="../images/logoh.svg" alt="Logo de Krieger Hamburguesería" class="header__logo">
        </picture>
        <div class="barraDeNav">
            <a href="../index.html">Home</a> 
            <a href="./menu.html">Menú</a>
            <a href="pedidos.html">Pedidos</a> 
            <a href="./nosotros.html">Nosotros</a>
            <a href="./contacto.html">Contacto</a>
        </div>
    </nav>
    <!--MAIN DE LA PÁGINA-->
    <main class="pedidos">
        <h1 class="pedidos__title">Siempre cerca tuyo</h1>
        <section>
            <p class="pedidos__p">Estamos en San Isidro. Te esperamos en local para disfrutar de las mejores hamburguesas. Para Delivery podes hacer tu pedido en la web o encontranos en Pedidos Ya y Rappi.</p>
            <form action="./index.js" method="post">
                <button type="submit" class="pedidos__btn">Pedidos</button>
            </form>
        </section>
    </main>
    <!--FOOTER DE LA PÁGINA-->
    <footer>
        <ul>
            <li>
                <a href="http://www.instagram.com/kriegerhamburgueseria//">Instagram</a>
            </li>
            <li>
                <a href="http://twitter.com/kriegerhamburgueseria//">Twitter</a>
            </li>
            <li>
                <a href="http://es-la.facebook.com/kriegerhamburgueseria/">Facebook</a>
            </li>
            <li>
                <p>TODOS LOS DERECHOS RESERVADOS © Krieger Hamburguesería</p>
            </li>
        </ul>
    </footer>
</body>
</html>