.nosotros {
    @include flex(column, start, center);
    width: auto;
    height: 1200px;
    color: map-get($colors, text-color);
    gap: $spacing-medium;

    & h1 {
        text-decoration: underline;
        font-family: $font-title;
        font-size: $text-large;
        gap: $spacing-medium;
        margin-top: 3em;
    }
    
    &__p {
        padding: 0px 50px 0px 50px;
        font-family: $font-principal;
        font-size: $text-medium;
        font-weight: bolder;
        line-height: 2em;
    }
}
