  /* Colors */
$colors: (
    primary: #788585,
    secondary: #600000,
    alternative: #442912,
    text-color: #2B2B2B,
    base: #FFFCFC,
);

@each $color, $value in $colors {
    .#{$color} {
      color: #{$value};
    }

}
   /* Spacings*/

  $spacing-medium: 2.4em;
  $spacing-small: 2em;
  $spacing-xsmall: 1.5em;

   /* Font Family*/
  
  $font-title: 'Roboto Flex', sans-serif;
  $font-principal: 'Barlow', sans-serif;

  /* Font Size*/

  $text-xlarge: 5.2rem;
  $text-large: 3.5rem;
  $text-xmedium: 2.4rem;
  $text-medium: 2.4rem;
  $text-small: 1.6rem;
  $text-xsmall: 1.4rem;
  $text-xxsmall: 1rem;
